.image-upload-container {
    display: flex;
    border: 1px dashed grey;
    width: 800px;
    margin: auto;
    height: 800px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #dddddd9b;
}

.image-upload-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-upload-content.after {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-upload-content.button {
    display: flex;
    height: fit-content;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.image-preview {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.image-preview img {
    display: block;
    max-width: 600px;
    max-height: 600px;
    height: auto;
    border: 2px solid #ddd;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.image-preview img:hover {
    filter: brightness(90%);
    visibility: visible;
}

.image-preview span {
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}

.delete-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    visibility: hidden;
    margin-bottom: -32px;
    margin-right: 10px;
    z-index: 10;
}


.delete-icon img {
    width: 46px;
    height: auto;
    border: none;
    background: none;
    transition: all 0.3s ease;
}

.image-preview:hover .delete-icon {
    visibility: visible;
  }